/vendor/
/.env
/.idea/
/.vscode/
/node_modules/
/*.log
docker/nginx/logs/*
.phpunit.result.cache

.oci

# Ensure storage folder exists but ignore uploaded files
/storage/*
!/storage/.gitkeep
/.phpunit.cache/
